<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Django Boilerplate | {% block head_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

  <link rel="stylesheet" href="{{STATIC_URL}}libs/normalize.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
</head>

<body>
  <div id="container">
    {% block body_main %}{% endblock %}
  </div>

  <script type="text/javascript" src="{{STATIC_URL}}libs/jquery-1.6.4.min.js"></script>
  <script defer src="{{STATIC_URL}}js/script.js"></script>
</body>
</html>
